<a href="https://colab.research.google.com/github/salvi007/Netflix_EDA/blob/main/Netflix_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np  #import libraries
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("netflix.csv")   #import the csv file

In [ ]:
df.head()   #displaying first 5 rows of dataframe

In [ ]:
df.info()   #displaying data types

In [ ]:
df["country"].isna().sum()  #sum of null values

# Data Cleaning

In [ ]:
df['director']=df['director'].fillna('unknown director')   #replacing null values with "Unknown director"
df['cast']=df['cast'].fillna('unknown cast')
df['country']=df['country'].fillna(df['country'].mode()[0])  #replacing null values with max no. of occuring country
df['date_added']=df['date_added'].fillna(df['date_added'].mode()[0])  #replacing null values with max no. of occuring date

df['rating']=df['rating'].fillna(df['rating'].mode()[0])
df['duration']=df['duration'].fillna(0)

In [ ]:
df.isna().sum()

In [ ]:
df.head()

In [ ]:
df.loc[df["country"].apply(lambda country : ', ' in str(country))]

In [ ]:
small_df=df[["title","cast","country","listed_in"]]
small_df

In [ ]:
small_df["cast_split"]=small_df["cast"].apply(lambda x: str(x).split(', '))
small_df["country_split"]=small_df["country"].apply(lambda x: str(x).split(', '))
small_df["listed_in_split"]=small_df["listed_in"].apply(lambda x: str(x).split(', '))
small_df

In [ ]:
small_df=small_df.explode('cast_split')
small_df=small_df.explode('country_split')
small_df=small_df.explode('listed_in_split')
small_df

In [ ]:
df=df.merge(small_df,on="title")

df

In [ ]:
df.drop(columns=["cast_x","cast_y","country_y","country_x","listed_in_y","listed_in_x"],inplace=True)
df.head()

In [ ]:
df.dtypes    #checking data types

In [ ]:
df["date_added"]=pd.to_datetime(df["date_added"])

In [ ]:
df.head()

In [ ]:
df.isna().head(20)   #identifying null values

In [ ]:
df.isna().sum()

In [ ]:
df.shape

In [ ]:
df

In [ ]:
#Q1. Find the counts of each categorical variable both using graphical and nongraphical analysis.
#a. For Non-graphical Analysis:
df["type"].value_counts()

In [ ]:
plt.figure(figsize=(5,5))

sns.countplot(data=df,x="type")
plt.title("Movies vs TV shows")
plt.show()

Insight

Probably 7 out 10 peoples prefer to watch Movies rather than TV Show

In [ ]:
df["rating"].value_counts()

In [ ]:
plt.figure(figsize = (5,5))
sns.countplot(data=df,y="rating")
plt.xticks(rotation=90,fontsize=10)

plt.show()

# Insight - Most no. of rating given is TV-MA which is 67695 and least given is 66 min,74 min,84 min which is 1 each

In [ ]:
df.groupby("country_split")['show_id'].nunique().sort_values(ascending=False)

In [ ]:
df_new=df[["country_split","show_id"]].drop_duplicates()  #removing duplicates from the df
df_new

In [ ]:
plt.figure(figsize = (20,15))
sns.countplot(data=df_new,y="country_split")
plt.xticks(rotation=90,fontsize=10)

plt.show()

## Insight- US produces the maximum no of content whereas India takes the second position in producing content

In [ ]:

df.groupby("listed_in_split")['show_id'].nunique().sort_values(ascending=False)

In [ ]:
df_new=df[["listed_in_split","show_id"]].drop_duplicates()
df_new

In [ ]:
plt.figure(figsize = (5,7))
sns.countplot(data=df_new,y="listed_in_split")
plt.xticks(rotation=90,fontsize=10)

plt.show()

## Insight-Netflix contains most no. of  genre as "International movies" and  the least no. of genre as "TV Shows"

In [ ]:
#Q 2.Comparison of tv shows vs. movies
#1.Find the number of movies produced in each country and pick the top 10 countries

In [ ]:
df.head()

In [ ]:
df1=df.loc[df["type"]=="Movie"]
df1.head()

In [ ]:
df1.groupby("country_split")['title'].nunique().sort_values(ascending=False).reset_index().head(10)

In [ ]:
plt.figure(figsize = (9,6))
sns.countplot(y='country_split', order=df1['country_split'].value_counts().index[0:10],data=df1)
plt.title('Top 10 countries producing movies in Netflix')

## Insight-US being the top country which has produced max. no. of movies and content of china is the least

In [ ]:
#b. Find the number of Tv-Shows produced in each country and pick the top 10 countries

df2=df.loc[df["type"]=="TV Show"]
df2.head()

In [ ]:
df2.groupby("country_split")['title'].nunique().sort_values(ascending=False).reset_index().head(10)

In [ ]:
plt.figure(figsize = (9,6))
sns.countplot(y='country_split', order=df['country_split'].value_counts().index[0:10],data=df2)
plt.title('Top 10 countries producing TV shows in Netflix')

## Insights- In Terms of TV shows, US has produced the max no. of TV shows .

In [ ]:
#3. What is the best time to launch a TV show?
#a. Find which is the best week to release the Tv-show or the movie. Do the analysis separately for Tv-shows and Movies
df["week"]=df["date_added"].dt.week
df.head(2)

In [ ]:

df1=df.loc[df["type"]=="Movie"]
df1

In [ ]:
df_new=df1.groupby("week")["title"].nunique().sort_values(ascending=False).reset_index()
df_new

In [ ]:
sns.scatterplot(x='week', y='title', data=df_new)
plt.show()

## Insight-Most no. of movie releases in the first week and suddenly goes up in the 44th week

In [ ]:
df2=df.loc[df["type"]=="TV Show"]
df2

In [ ]:
df1_new=df2.groupby("week")["title"].nunique().sort_values(ascending=False).reset_index()
df1_new

In [ ]:
sns.scatterplot(x='week', y='title', data=df1_new,color="red")
plt.show()

# On the contrary, the best week to release a TV show is between 20th week to 30th week

In [ ]:
#b. Find which is the best month to release the Tv-show or the movie. Do the analysis separately for Tv-shows and Movies

In [ ]:
df["month"]=df["date_added"].dt.month
df.head(2)

In [ ]:
df2=df.loc[df["type"]=="Movie"]
df2

In [ ]:
df_new=df2.groupby("month")["title"].nunique().sort_values(ascending=False).reset_index()
df_new

In [ ]:
sns.scatterplot(x='month', y='title', data=df_new)
plt.show()

## Insight-Most no of movies are released in the 7th month

In [ ]:
df2=df.loc[df["type"]=="TV Show"]
df2

In [ ]:
df1_new=df2.groupby("month")["title"].nunique().sort_values(ascending=False).reset_index()
df1_new

In [ ]:
sns.scatterplot(x='month', y='title', data=df1_new,color="orange")
plt.show()

## Insight-MAx no of TV SHows release in the 12th month

In [ ]:
#4. Analysis of actors/directors of different types of shows/movies.
#a. Identify the top 10 actors who have appeared in most movies or TV shows

df_new=df.groupby("cast_split")["title"].nunique().sort_values(ascending=False).reset_index().head(10)
print(df_new)

In [ ]:

sns.barplot(x="cast_split",y="title",data=df_new)
plt.title("Top 10 actor who have appeared in most movies/TV shows")

plt.xticks(rotation=90,fontsize=10)
plt.show()

## If ignoring null values, Anupam kher,SRK, Julie Tejwani are among the actors who wppeared in most no of movies/TV Shows

In [ ]:
#b. Identify the top 10 directors who have appeared in most movies or TV shows

df_new=df.groupby("director")["title"].nunique().sort_values(ascending=False).reset_index().head(10)
print(df_new)

In [ ]:
sns.barplot(x="director",y="title",data=df_new)
plt.title("Top 10 directors who have appeared in most movies/TV shows")

plt.xticks(rotation=90,fontsize=10)
plt.show()

## If ignoring null values, Rajiv Chilaka,Marcus Raboy are among the directors who has directed the most no of movies/TV Shows

In [ ]:
df["listed_in_split"]   #filter with movies

In [ ]:
#5. Which genre movies are more popular or produced more

from wordcloud import WordCloud
df2=df.loc[df["type"]=='Movie']
df2

In [ ]:

text = " ".join(df2.listed_in_split)
word_cloud = WordCloud(collocations = False, background_color = 'white').generate(text)
plt.imshow(word_cloud, interpolation='bilinear')
plt.axis("off")
plt.show()

# Insight-From the genre,International movies, Dramas, Adventure are among the movies type which has most no. of content

In [ ]:
#6. Find After how many days the movie will be added to Netflix after the release of the movie
 #(you can consider the recent past data)

df.head(2)

In [ ]:
df.info()

In [ ]:
df["release_year"] = df['release_year'].astype(str) +"-01-01"
df.head(2)

In [ ]:
df.info()

In [ ]:
df["release_year"]=pd.to_datetime(df["release_year"])

In [ ]:
df.info()

In [ ]:
df["date_diff"]=df["date_added"]-df["release_year"]

In [ ]:
df.head()

In [ ]:
df["date_diff"].mode()

### Insight- 243 days are the best time to add content in netflix

Recommendation:


It is evdent from the EDA on netflix dataset the the growth of the netflix over the past year is increasing as we move forward.
Therefore we have a high chance seeing more films in netflix platform

*   Highest releases as per country basis is in USA
*   Dramas and International Movies are the most popular genre followed by documentries
*   We can more no of content in every 243 days
*   We can see more of international movies in genre